.title {
  font-size: 28px;
  font-weight: var(--font-weight-bold);
  text-align: center;
  overflow-wrap: break-word;
  max-width: 500px;
  min-width: 359px;
  white-space: normal;
  margin: 0 auto;
}
