.wrapper {
  background-color: var(--background-white);
  border-radius: var(--radius-2xl);
}

.title {
  font-size: var(--font-size-xl);
  padding: var(--space-4) var(--space-4) var(--space-3) var(--space-4);
  line-height: calc(var(--line-height-22) / var(--font-size-xl));
  letter-spacing: -0.013rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-3) var(--space-4);
}

.countryInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}

.country {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  letter-spacing: -0.0075rem;
}

.operator {
  font-size: var(--font-size-sm);
  line-height: calc(var(--line-height-18) / var(--font-size-sm));
  font-weight: var(--font-weight-medium);
}
